*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto","Arial",sans-serif;
    text-decoration: none; 
}
*:focus{
    outline: none;
}

.Body{
    display:flex;
    margin-top: 100px;

}
.shimmer{
    height:180px;
    width:325px; 
    border-radius: 2%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title-shimmer{
    margin: 10px;
    height: 15px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.views-shimmer{
    margin: 10px;
    height: 15px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.watchpage-icon{
    height: 23px;
    width: 23px;
}
.description{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(160, 160, 160);
}
.head{
    height: 80px;
    padding: 10px;
    display: flex;
    width: 99%;
    background-color: rgb(250, 250, 250);
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0px;
}
.hambuger{
    padding: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.cheems-icon{
    width:200px;
    height:55px;
}
.logo-icon{
    padding: 10px;
    margin-left: 5px;
    height: 40px;
    width: 40px;
}
.search{
    padding: 22px 0px 0px 0px;
}
.search-bar{
    width:500px;
    height: 35px;
   padding-left: 10px;
   border-radius: 40px 0px 0px 40px;
   
   border: 1px solid lightgray;
    
}
.search-btn{
    height: 37px;
    width :50px;
   
   border-radius: 0px 40px 40px 0px;
   border: 1px solid lightgray;
  cursor: pointer;
  
}
.search-emoji{
    height: 25px;
}
.suggestion {
    position: fixed;
    padding: 10px;
    background: #fff;
    width: 490px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    
}
.suggestion ul{
    list-style: none;
}
.suggestion ul li{
   margin-top: 10px;
}
.user-icon{
    padding: 10px;
    height: 40px;
    width: 40px; 
}
.sideBar{
    height: 100%;
    width: 12%;
    padding-top: 15px;
}
.sideBar-headings{
    padding: 5px;
}
.Side-list{
    list-style: none;
    padding:5px 0px 5px 12px;
}
.Side-list li{
    margin-bottom: 25px;
}
.Side-list img{
    height : 18px;
    margin-right: 5px;
}
.MainContainer{
    margin-left: 20px;
    width: 88%;
    margin-left: 8%;
}
.buttonList{
    display: flex;
    padding:5px;
}
.button{
    margin:5px;
    padding: 10px 20px 25px 20px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 15px;
    height: 30px;
    background-color: #e7e7e7;
    border:0px;
}
.video-img{
    height:180px;
    width:90%; 
    border-radius: 2%;
}
.videoCard{
    margin-bottom: 10px;
    padding: 10px;
    height:280px;
    width:320px;
}
.video-detail{
    list-style: none;
}
.video-list{
    display:flex;
    flex-wrap: wrap;
}
.watch-page{
    display: flex;
    flex-direction: wrap;
    width: 95%;
    margin: 5px;
}
.video-related-container{
    width: 95vw;
    margin-top: 5px;
    margin-left: 10px;
}
.embbed-video{
    width:95%;
    height:490px; 
    margin-left: 10px;
    border-radius: 2%;
}
.related-videos{
    width: 35%;
    padding: 0px 0px 0px 23px;
}

.related-videos-card{
    padding: 5px;
}
.user-icon-comment{
    padding: 5px;
    height: 30px;
    width: 30px; 
}
.comment{
    display: flex;
    margin-top: 10px;
    padding: 2px;
    border-radius: 4px;
    width: 40%;
}
.comment-list{
    padding: 10px;
}
.replies{
    padding: 2px;
    margin-left: 10px;
    margin-top: 5px;
    border-left: 2px solid black;
}
.live-chat{
    height: 380px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.live-header{
    border-bottom:2px solid gray ;
    height: 40px;
    padding-top: 15px;
    padding-left: 10px;
}
.chats{
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.live-chat-box{
    margin-left: 20px;
    border: 2px solid gray;
    width:30%;
    height:500px; 
    border-radius: 10px;
}
.input-chat{
    display: flex;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    padding:10px;
}
.input-box{
   padding: 3px;
   width: 80%;
   border-top:#fff ;
   border-left:#fff ;
   border-right:#fff ;

}
.send-btn{
    border:#fff ;
    padding: 8px;
    margin-left: 10px;
   color: green;
}
@media only screen and (max-width: 500px){
    body{
        font-size: 10px;
    }
    .head{
        height: 50px;
    }
    .hambuger{
        padding: 15px 0px 0px 0px;
        height: 20px;
        width: 20px;
    }
    .logo-icon {
        padding: 15px 5px 0px 3px;
        height: 20px;
        width: 20px;
    }
    .cheems-icon{
        width: 85px;
        height: 25px;
    }
    .search{
        padding: 15px 0px 0px 0px;
    }
    .search-bar {
        width: 70px;
        height: 25px;
    }
    .search-btn {
        height: 27px;
        width: 36px;
        border-radius: 0px 40px 40px 0px;
    }
    .user-icon {
        padding:15px 13px 0px 0px;
        height: 20px;
        width: 20px;
    }
    .sideBar {
        height: 100%;
        width: 13%;
        padding-top: 0px;
    }
    .video-list{
        padding: 4px 0px 0px 15px;
    }
    .videoCard {
        margin-bottom: 0px;
        padding: 0px 0px 10px 6px;
        height: 200px;
        width: 275px;
    }
    .video-img {
        height: 150px;
        width: 250px;
        border-radius: 2%;
    }
    .shimmer{
        height: 150px;
        width: 250px;  
    }
    .title-shimmer{
        width: 200px;
    }
    .embbed-video {
        width: 97%;
        height: 300px;
    }
    
}